*{
    border: 0px;
    padding: 0px;
    margin: 0px;
}
div{
    user-select: none;
    font-family: Microsoft YaHei;
}
.fileitem{
    height: 20px;
    cursor: default;
    font-size: 0.8em;
    min-width: 300px;
    white-space: nowrap;
}
.disk:hover,.fileitem:hover{
    background-color: rgb(229, 243, 255);
    cursor: default;
}
.disk{
    float: left;
    vertical-align: middle;
    width: 150px;
}
#pathbar{
    border: solid 1px rgb(83, 113, 196);
    border-radius: 2px;
    font-size: 0.6em;
    line-height: 20px;
    height: 20px;
    margin: 2px;
}
#pathbar button{
    background-color: #ffffff;
    text-decoration: none;
    outline: 0;
}
#pathbar button:hover{
    background-color: rgb(229, 243, 255);
}
.header {
    width: 20%;
    background-color: #ff5722;
    color: #ffffff;
    >ul {
        width: 100%;
        @include clearfix;
        >li {
            width: 100%;
            border: 1px solid #ffffff;
            cursor: pointer; // float: left;
            color: 20px;
            text-align: center;
            line-height: 60px;
            &:hover {
                background-color: #ff9800;
            }
            >ul {
                width: 100%;
                background: red;
                li{
                    &:hover{
                        background: #c31111;
                    }
                }
            }
        }
        .active {
            background-color: #ff9800;
        }
    }
}